@import "tailwindcss";
@import "./mobile.css";
@import "./tablet.css";
@import "./laptop.css";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-primary: #da2f2b;
  --color-primary-hover: #c42724;
  --font-sans: var(--font-poppins);
  --font-serif: var(--font-poppins);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}
